<h1>Hello <%= current_user.name %></h1>
<h2>You are client</h2>

<% if @adverts.any? %>
  <h4>Your list of adverts</h4>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @adverts.each do |advert| %>
        <tr>
          <td><%= link_to advert.article, client_advert_path(advert)  %></td>
          <td><%= advert.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4>Your list of adverts is empty</h4>
<% end %>

<br>

